

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f4f4f9; 
    text-align: center; 
    background-image: url("https://img.freepik.com/free-vector/blue-velvety-abstract-wavy-background-dark-background_134830-2226.jpg?semt=ais_hybrid&w=740&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.95;
}

h1 {
    color: #d07ff3;
    margin-bottom: 30px;
    font-style: italic;
    text-shadow: 2px 2px #5f0583;
}


.img {
    
    width: 300px; 
    height: 300px; 
    
    
    object-fit: cover; 
    display: inline-block;
    margin: 10px; 
    
    
    border: 5px solid #fff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border-radius: 8px; 
    transition: transform 0.3s ease-in-out; 
}

.img:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}