
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>My Impressive Gallery</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<h1>MY IMPRESSIVE GALLERY</h1>
     <img src="{% static 'images/1734436852407.jpg' %}" alt="Outdoor sunny shot leaning on a tree trunk" class="img">
 
 <img src="{% static 'images/IMG_20250723_131438.jpg' %}" alt="Black and white outdoor shot in a foggy setting" class="img">
 
 <img src="{% static 'images/1744356871439.jpg' %}" alt="Standing in a light and purple saree outdoors" class="img">
 
 <img src="{% static 'images/IMG-20241004-WA0033.jpg' %}" alt="In a pink saree, holding red flowers" class="img">
 
 <img src="{% static 'images/IMG_20250825_202714.jpg' %}" alt="Black and white shot in a saree under a tree" class="img">
 
 <img src="{% static 'images/1744357024996.jpg' %}" alt="Standing in a light and purple saree outdoors with a flowing end" class="img">
 
 <img src="{% static 'images/IMG-20241004-WA0050.jpg' %}" alt="In a light green embroidered kurta outdoors" class="img">
 
 <img src="{% static 'images/IMG_0427.JPG' %}" alt="In a pink saree at a flower stall, holding yellow flowers" class="img">
 
 <img src="{% static 'images/IMG-20241004-WA0054.jpg' %}" alt="In a light green embroidered kurta in an outdoor setting" class="img">

<img src="{% static 'images/IMG_0425.JPG' %}" alt="In a pink saree at a flower stall, holding a bunch of flowers" class="img">

    <img src="{% static 'images/IMG-20241004-WA0135.jpg' %}" alt="Black and white portrait in a saree by a window" class="img">

    <img src="{% static 'images/IMG-20241004-WA0134.jpg' %}" alt="Black and white shot in a saree looking away by a window" class="img">

    <img src="{% static 'images/IMG-20250512-WA0015.jpg' %}" alt="Black and white shot in a market with flower garlands" class="img">

</body>
</html>